<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Expense Logger</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Overview</a></li>
        <li><a href="badges.html">Transactions</a></li>
        <li><a href="collapsible.html">Reports</a></li>
        <li><a href="collapsible.html">Accounts</a></li>
        <li><a href="collapsible.html">Loans/Credit</a></li>
      </ul>
    </div>
  </nav>
</div>
